.main-box {
    @apply container m-4 flex flex-col overflow-hidden rounded-xl bg-slate-200 p-4 drop-shadow-md;
}

input[type="text"] {
    @apply block w-full rounded-md border-slate-300 shadow-sm ring-0;
}

.btn-link {
    @apply block w-full rounded-md bg-slate-400 shadow-sm hover:bg-slate-400/50;
}

h1,
h2,
h3 {
    @apply select-none;
}

.glass-effect {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
